<div class="main-information">
  <div class="personal-stats">
    <div class="weight">
      <h2>Your Current Weight</h2>
      <section>
        <input type="text" class="currWeight" placeholder="Your Current Weight"/>
      </section>
    </div>
    <div class="height-age">
      <h2>Your Height and Age</h2>
      <section>
        <input type="text" class="feet" placeholder="Feet"/>
        <input type="text" class="inches" placeholder="Inches"/>
        <input type="text" class="age" placeholder="Age"/>
      </section>
    </div>
    <div class="gender">
      <h2>What's your Gender?</h2>
      <section>
        <div>
          <label>Male</label>
          <input type="radio" class="male" name="GENDER" value="male">
        </div>
        <div>
          <label>Female</label>
          <input type="radio" class="female" name="GENDER" value="female">
        </div>
      </section>
    </div>
    <div class="goal">
      <h2>What do You want to Weigh?</h2>
      <section>
        <input type="text" class="goalWeight" placeholder="Your Goal Weight"/>
      </section>
    </div>
    <div class="exercise">
      <h2>How Much Exercise, in Calories?</h2>
      <section>
        <input type="text" class="minBurned" placeholder="Minimum"/>
        <input type="text" class="maxBurned" placeholder="Maximum"/>
      </section>
    </div>
    <div class="exercise-days">
      <h2>How many days a week do you work out?</h2>
      <section>
        <input type="text" class="burnDays" placeholder="Days per week"/>
      </section>
    </div>
    <section>
      <div class="get-results">
        Calculate
      </div>
    </section>
  </div>
</div>